<!DOCTYPE html>
<!-- Head -->
<%- include('parciales/head') %>
	<!-- Head -->

	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include('parciales/headerLog', {info: locals.user}) %>
		  <% }else { %>
			<%- include('parciales/header') %>
		  <% } %> 
			<!-- /Header -->

			<!-- product detail -->

			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title">Air Jordan DNA</h2>
				</div>

				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="../images/products/airJordanDNA.jpg" alt="" class="product-detail-img">
							<p class="product-detail-description">
								Air Jordan DNA</p>
						</article>

						<article class="comentarios">
							<h3>Comentarios</h3>
							<p class="comment"><%= listaComentarios[0].user %>: <%= listaComentarios[0].contenido %></p>
							<p class="comment"><%= listaComentarios[0].user %>: <%= listaComentarios[0].contenido %></p>
						</article>


						<hr>
					</div>
				</div>
			</div>
			


			<!-- footer -->
			<%- include('parciales/footer') %>
		    <!-- /footer -->
	</body>

	</html>