<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('./parciales/head') %>
	<!-- Head -->

	<body>
		<!-- Header -->
		<%- include('./parciales/headerLog') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Editar mi perfil</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12">
					<form action="" method="get">
						<article class="email">
							<label for="email">Email:</label>
							<input value="<%=modulos.%>" type="email" name="email">
						</article>

						<article class="usuario">
							<label for="usuario">Nombre de usuario:</label>
							<input value="<%=users[0].nombreDelUsuario%>" type="text" name="usuario">
						</article>

						<article class="contraseña">
							<label for="contraseña">Contraseña:</label>
							<input value="<%=users[0].contraseñaDelUsuario%>" type="contraseña" name="">
						</article>

						<article class="nacimiento">
							<label for="fecha">Fecha de nacimiento:</label>
							<input value="<%=users[0].nacimientoDelUsuario%>" type="number" name="fechaNacimiento">
						</article>

						<article class="documento">
							<label for="documento">Numero de documento:</label>
							<input value="<%=users[0].documentoDelUsuario%>" type="number" name="nroDocumento">
						</article>

						<article class="foto">
							<label for="foto">Foto de perfil:</label> <input
								accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
								type="file" multiple="" autocomplete="off" value="<%=users[0].fotoDelUsuario%>" name="fotoperfil">
								</article>

							<label for="enviar">Ingresar a mi usuario</label>
							<input class="form-input " type="submit" value="Enviar">

						</article>
					</form>
				</h2>


				<!-- footer -->
				<%- include('./parciales/header') %>
				<!-- /footer -->
	</body>

</html>