<!DOCTYPE html>
<html lang="es">
<<<<<<< HEAD
<!-- Include Head -->
<%- include('./parciales/head') %>
<body>
	<!-- Header -->
	<% if(locals.user){ %>
		<% console.log('cccc' + locals.user.username) %> 
        <%- include('./parciales/headerLog', {info: locals.user}) %>
      <% } else {%>
        <%- include('./partials/header') %>
      <% }%>

	<!-- Novedades -->
	<div class="product-edit-section">
		<div class="row">
			<div class="col-12">
				<h2 class="title-edit">Editar Perfil</h2>
			</div>
        </div>
		<form class="profile-edit-form" action="/users/profile <%= info.id %> " enctype="multipart/form-data" method="POST"> 
            <div class="label-input">
                <label for="email" class="form-label">Email</label>
                <input name="email" value="<%=info.email%>" class = "border" type="email" placeholder=" example@email.com" class="email">
            </div>
            <div class="label-input">
                <label for="user" class="form-label">Usuario</label>
                <input name="username" value="<%=info.username%>"  class = "border" type="text" >
            </div>
    
            <div class="label-input">
                <label for="form-date" class="form-label">Fecha de nacimiento</label>
                <input name="date" value="<%=info.date%>" class = "border" type="date" class="form-date">
            </div>

            <div class="label-input">
                <label for="form-file" class="form-label">Foto</label>
                <input name="image" value="<%=info.image%> " type="file" class="form-file">
            </div>
			<input type="hidden" name="id" value="<%=info.id%>">
            <input type="hidden" name="createdAt" value="<%=info.createdAt%>">

            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
	</div>
    
	<!-- footer -->
	<%- include('./parciales/footer') %>
	<!-- /footer -->
</body>
=======
<!-- Head -->
<%- include('parciales/head') %>
	<!-- Head -->

	<body>
		<!-- Header -->
		<%- include('parciales/headerLog') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Editar mi perfil</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12">
					<form action="/profileEdit/<%= info.id %>" method="POST" enctype="multipart/form-data">
						<article class="email">
							<label for="email">Email:</label>
							<input placeholder="<%=info.email%>" type="email" name="email">
						</article>

						<article class="usuario">
							<label for="usuario">Nombre de usuario:</label>
							<input placeholder="<%=info.username%>" type="text" name="usuario">
						</article>

						<article class="contrase単a">
							<label for="contrase単a">Contrase単a:</label>
							<input placeholder="<%=info.password%>" type="contrase単a" name="">
						</article>

						<article class="nacimiento">
							<label for="fecha">Fecha de nacimiento:</label>
							<input placeholder="<%=info.date%>" type="number" name="fechaNacimiento">
						</article>


						<article class="foto">
							<label for="foto">Foto de perfil:</label> <input
								accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
								type="file" multiple="" autocomplete="off" value="<%=info.image%>" name="imgPerfil">
								</article>

								<button class="form-input" type="submit">Guardar cambios</button>	
							

						</article>
					</form>
				</h2>


				<!-- footer -->
				<%- include('parciales/footer') %>
				<!-- /footer -->
	</body>
>>>>>>> 55d3e6e857af004ed21e1acec94f7a7e13b00c03

</html>